<div class = "container">
	<div class = "row">
		<div class = "col">
			<h2><%= @workout.date %></h2>
			<h4><%= @workout.mood %></h4>
			<h4><%= @workout.workout %></h4>
			<h4><%= @workout.length %></h4>
		</div>
	</div>
</div>